<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs")%>
<body class="about">
    <%- include("./partials/nav.ejs")%>
   <div class="container">
    <h1>About</h1>
    <h3>A brief History: </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia labore atque aperiam enim debitis maiores cupiditate, tempore soluta sequi quas numquam laudantium sapiente totam? Nostrum, illo quia consectetur minus modi tempore deserunt ipsam ut nisi tempora beatae sint harum ea, repellendus sed libero doloribus officiis esse iure. Reprehenderit, nihil. Mollitia ipsum, porro labore aliquam dicta a quo nobis quod eos?</p>
    <h3> Our Focus: </h3>
     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus magni rerum quis debitis id iusto nihil earum sint provident animi ea perspiciatis exercitationem sed esse maiores minus, excepturi tenetur dignissimos, aliquid saepe odio rem ipsam facere! Culpa quisquam ipsam ex, itaque quidem inventore nulla, ad accusamus sapiente corporis recusandae et!</p>
     <h3>Our Services: </h3>
     <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident dolor beatae, blanditiis quo ipsum commodi corrupti fugit esse excepturi illum voluptas modi hic a ratione fuga explicabo quos magni aperiam.</p>
     <ul>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae in quae quis repellendus quaerat aspernatur dolores repellat optio modi quibusdam.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae in quae quis repellendus quaerat aspernatur dolores repellat optio modi quibusdam.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae in quae quis repellendus quaerat aspernatur dolores repellat optio modi quibusdam.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae in quae quis repellendus quaerat aspernatur dolores repellat optio modi quibusdam.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae in quae quis repellendus quaerat aspernatur dolores repellat optio modi quibusdam.</li>
     </ul>
     <br>
     <h3>OUr Contacts: </h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi cupiditate eius necessitatibus reprehenderit sapiente? Culpa: </p>
      <ul>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius et praesentium laboriosam repellendus nemo quibusdam possimus! Harum exercitationem hic dolorum ea alias dignissimos ipsa quis?</li>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius et praesentium laboriosam repellendus nemo quibusdam possimus! Harum exercitationem hic dolorum ea alias dignissimos ipsa quis?</li>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius et praesentium laboriosam repellendus nemo quibusdam possimus! Harum exercitationem hic dolorum ea alias dignissimos ipsa quis?</li>
      </ul>
  
   </div>
    <%- include("./partials/footer.ejs")%>
</body>

</html>